In [3]:
def SayHello():
    print('Hello There!')

In [5]:
SayHello()

Hello There!

In [6]:
def DoSum(Value1, Value2):
    return Value1 + Value2

In [7]:
DoSum(1,2)

3

In [8]:
def DisplaySum(Value1, Value2):
    print(str(Value1) + ' + ' + str(Value2) + ' = ' + str((Value1 + Value2)))

In [10]:
DisplaySum(2,3)

2 + 3 = 5

In [11]:
DisplaySum(Value2 = 3, Value1 = 2)

2 + 3 = 5

In [16]:
def SayHello(Greeting = "No Value Supplied"):
    print(Greeting)

In [17]:
SayHello()

No Value Supplied

In [18]:
SayHello('Howdy!')

Howdy!

In [34]:
def DisplayMulti(ArgCount = 0, *VarArgs):
    print('You passed' + str(ArgCount) + 'arguments.')

In [35]:
DisplayMulti()

You passed0arguments.

In [36]:
DisplayMulti(3, 'Hello', 1, True)

You passed3arguments.

In [38]:
def TestValue(Value):
    if Value == 5:
        print('Value equals 5!')
    elif Value == 6:
        print('Value equals 6!')
    else:
        print('Value is something else.')
        print('It equals ' + str(Value))

In [39]:
TestValue(1)

Value is something else.
It equals 1

In [40]:
TestValue(5)

Value equals 5!

In [41]:
TestValue(6)

Value equals 6!

In [42]:
def SecretNumber():
    One = int(input("Type a number between 1 and 10: "))
    Two = int(input("Type a number between 1 and 10: "))
    if (One >= 1) and (One <= 10):
        if (Two >= 1) and (Two <= 10):
            print('Your secret number is: ' + str(One * Two))
        else:
             print("Incorrect second value!")
    else:
         print("Incorrect first value!")

In [45]:
SecretNumber()

Type a number between 1 and 10: 10
Type a number between 1 and 10: 10
Your secret number is: 100

In [46]:
def DisplayMulti(*VarArgs):
    for Arg in VarArgs:
        if Arg.upper() == 'CONT':
            continue
            print('Continue Argument: ' + Arg)
        elif Arg.upper() == 'BREAK':
            break
            print('Break Argument: ' + Arg)
        print('Good Argument: ' + Arg)

In [47]:
DisplayMulti('Hello', 'Goodbye', 'First', 'Last' )

Good Argument: Hello
Good Argument: Goodbye
Good Argument: First
Good Argument: Last

In [49]:
DisplayMulti('Hello', 'Cont', 'Goodbye', 'Break', 'Last')

Good Argument: Hello
Good Argument: Goodbye

In [51]:
def SecretNumber():
    GotIt = False
    while GotIt == False:
        One = int(input("Type a number between 1 and 10: "))
        Two = int(input("Type a number between 1 and 10: "))
        if (One >= 1) and (One <= 10):
            if (Two >= 1) and (Two <= 10):
                print('Secret number is: ' + str(One * Two))
                GotIt = True
                continue
            else:
                 print("Incorrect second value!")
        else:
             print("Incorrect first value!")
        print("Try again!")

In [52]:
SecretNumber()

Type a number between 1 and 10: 20
Type a number between 1 and 10: 10
Incorrect first value!
Try again!
Type a number between 1 and 10: 10
Type a number between 1 and 10: 20
Incorrect second value!
Try again!
Type a number between 1 and 10: 10
Type a number between 1 and 10: 10
Secret number is: 100

In [54]:
ListA = [0, 1, 2, 3]
ListB = [4, 5, 6, 7]
ListA.extend(ListB)
ListA

[0, 1, 2, 3, 4, 5, 6, 7]

In [55]:
ListA.append(-5)
ListA

[0, 1, 2, 3, 4, 5, 6, 7, -5]

In [56]:
ListA.remove(-5)
ListA

[0, 1, 2, 3, 4, 5, 6, 7]

In [58]:
ListX = ListA + ListB
ListX

[0, 1, 2, 3, 4, 5, 6, 7, 4, 5, 6, 7]

In [59]:
MyTuple = (1, 2, 3, (4, 5, 6, (7, 8, 9)))

In [64]:
for Value1 in MyTuple:
    if type(Value1) == int:
        print Value1
    else:
        for Value2 in Value1:
            if type(Value2) == int:
                print "\t", Value2
            else:
                for Value3 in Value2:
                    print "\t\t", Value3

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(Value1)? (<ipython-input-64-12f4504dd9f5>, line 3)

In [65]:
ListA= ['Orange', 'Yellow', 'Green', 'Brown']
ListB= [1, 2, 3, 4]

In [66]:
ListB[1:3]

[2, 3]

In [68]:
for Value in ListB[1:3]:
    print (Value)

2
3

In [70]:
for Value1, Value2 in zip(ListA, ListB):
     print (Value1, '\t', Value2)

Orange 	 1
Yellow 	 2
Green 	 3
Brown 	 4

In [73]:
MyDict = {'Orange':1, 'Blue':2, 'Pink':3}

In [75]:
MyDict['Pink']

3

In [3]:
import pandas as pd

In [15]:
with open("Colors.txt", 'r') as open_file:
     print ('Colors.txt content:\n' + open_file.read())

Colors.txt content:
Color	Value
Red	1
Orange	2
Yellow	3
Green	4
Blue	5
Purple	6
Black	7
White	8

In [18]:
with open("Colors.txt", 'r') as open_file:
    for observation in open_file:
        print ('Reading Data: ' + observation)

Reading Data: Color	Value

Reading Data: Red	1

Reading Data: Orange	2

Reading Data: Yellow	3

Reading Data: Green	4

Reading Data: Blue	5

Reading Data: Purple	6

Reading Data: Black	7

Reading Data: White	8

In [23]:
n = 2
with open("Colors.txt", 'r') as open_file:
    for j, observation in enumerate(open_file):
        if j % n==0:
            print('Reading Line: ' + str(j) +
            ' Content: ' + observation)

Reading Line: 0 Content: Color	Value

Reading Line: 2 Content: Orange	2

Reading Line: 4 Content: Green	4

Reading Line: 6 Content: Purple	6

Reading Line: 8 Content: White	8

In [26]:
from random import random
sample_size = 0.25
with open("Colors.txt", 'r') as open_file:
     for j, observation in enumerate(open_file):
        if random()<=sample_size:
             print('Reading Line: ' + str(j) +
             ' Content: ' + observation)

Reading Line: 0 Content: Color	Value

Reading Line: 1 Content: Red	1

Reading Line: 6 Content: Purple	6

In [31]:
import pandas as pd
color_table = pd.read_csv("Colors.txt")
print (color_table)

  Color\tValue
0       Red\t1
1    Orange\t2
2    Yellow\t3
3     Green\t4
4      Blue\t5
5    Purple\t6
6     Black\t7
7     White\t8

In [34]:
titanic = pd.io.parsers.read_csv("Titanic.csv")
X = titanic[['age']].values
print (X)

[[29.        ]
 [ 0.91670001]
 [ 2.        ]
 ...
 [26.5       ]
 [27.        ]
 [29.        ]]

In [36]:
import pandas as pd
xls = pd.ExcelFile("Values.xls")
trig_values = xls.parse('Sheet1', index_col=None,
                         na_values=['NA'])
print (trig_values)

    Angle (Degrees)      Sine    Cosine    Tangent
0        138.550574  0.661959 -0.749540  -0.883153
1        305.535745 -0.813753  0.581211  -1.400100
2        280.518695 -0.983195  0.182556  -5.385709
3        216.363795 -0.592910 -0.805269   0.736289
4         36.389247  0.593268  0.805005   0.736974
5         31.474311  0.522116  0.852874   0.612184
6        120.121669  0.864962 -0.501838  -1.723588
7        293.947055 -0.913921  0.405892  -2.251634
8        179.882632  0.002048 -0.999998  -0.002048
9        120.927562  0.857818 -0.513954  -1.669056
10        71.349485  0.947487  0.319795   2.962796
11       241.971082 -0.882711 -0.469917   1.878439
12       297.208817 -0.889346  0.457235  -1.945053
13       142.004551  0.615599 -0.788060  -0.781158
14       173.770696  0.108508 -0.994096  -0.109152
15       229.232002 -0.757360 -0.652998   1.159820
16        67.926976  0.926706  0.375788   2.466033
17       261.866575 -0.989941 -0.141479   6.997102
18        59.185450  0.858830  0.512261   1.676547
19        98.029275  0.990197 -0.139679  -7.089086
20         9.336088  0.162225  0.986754   0.164403
21        90.746371  0.999915 -0.013026 -76.761483
22       217.798087 -0.612881 -0.790175   0.775626
23        58.616049  0.853697  0.520771   1.639295
24       197.196367 -0.295647 -0.955297   0.309482
25       331.194892 -0.481832  0.876264  -0.549871
26         6.509875  0.113374  0.993552   0.114110
27       266.390707 -0.998017 -0.062952  15.853513
28       230.323819 -0.769665 -0.638448   1.205525
29       314.224257 -0.716615  0.697469  -1.027452
..              ...       ...       ...        ...
42       324.080564 -0.586647  0.809843  -0.724396
43       140.893727  0.630761 -0.775977  -0.812860
44       128.226889  0.785567 -0.618777  -1.269547
45        82.770054  0.992049  0.125852   7.882680
46       303.112455 -0.837600  0.546284  -1.533268
47       164.824273  0.261780 -0.965127  -0.271239
48       218.829827 -0.627009 -0.779012   0.804878
49        28.649593  0.479452  0.877568   0.546341
50       349.336296 -0.185044  0.982730  -0.188296
51        84.889713  0.996025  0.089073  11.182105
52       197.935862 -0.307952 -0.951402   0.323683
53       303.049380 -0.838201  0.545362  -1.536963
54       183.737235 -0.065181 -0.997873   0.065320
55       346.153919 -0.239314  0.970942  -0.246477
56       218.822745 -0.626913 -0.779089   0.804674
57       243.969070 -0.898557 -0.438856   2.047498
58       115.600771  0.901827 -0.432098  -2.087089
59       125.906606  0.809974 -0.586466  -1.381111
60       200.094363 -0.343567 -0.939128   0.365836
61       337.860807 -0.376858  0.926271  -0.406855
62       168.176975  0.204889 -0.978785  -0.209330
63       305.708155 -0.812000  0.583657  -1.391229
64       162.656078  0.298107 -0.954533  -0.312306
65       219.007899 -0.629428 -0.777059   0.810012
66       222.830465 -0.679831 -0.733368   0.926998
67       324.199562 -0.584964  0.811059  -0.721234
68       187.948172 -0.138277 -0.990394   0.139619
69       270.678249 -0.999930  0.011837 -84.472139
70       270.779159 -0.999908  0.013598 -73.530885
71       200.213513 -0.345520 -0.938412   0.368196

[72 rows x 4 columns]

In [41]:
from lxml import objectify
import pandas as pd
xml = objectify.parse(open('XMLData.xml'))
root = xml.getroot()
df = pd.DataFrame(columns=('Number', 'String', 'Boolean'))
for i in range(0,4):
    obj = root.getchildren()[i].getchildren()
    row= dict(zip(['Number', 'String', 'Boolean'], 
                     [obj[0].text, obj[1].text, obj[2].text]))
    row_s = pd.Series(row)
    row_s.name = i
    df = df.append(row_s)

print (df)

  Number  String Boolean
0      1   First    True
1      2  Second   False
2      3   Third    True
3      4  Fourth   False

In [44]:
data = pd.read_csv('Blackwell_Hist_Sample.csv')

In [45]:
data

      in.store  age  items   amount  region
0            0   60      8  2103.80       3
1            1   58      4   968.38       3
2            0   51      7   143.59       2
3            1   40      7   863.82       3
4            0   41      4   915.21       1
5            0   79      6   426.17       2
6            0   79      1   471.43       2
7            0   31      3   115.52       2
8            0   29      6   129.25       4
9            1   25      6  1025.90       1
10           0   57      2  1384.70       3
11           0   55      6   352.82       2
12           0   58      1   450.41       2
13           0   73      5   416.93       2
14           0   60      3   638.38       3
15           1   35      4  1740.10       4
16           1   32      4  1308.30       1
17           1   50      4   749.37       3
18           1   25      4  1854.80       4
19           1   48      8   707.09       1
20           1   35      1   965.75       4
21           0   56      5    15.86       2
22           0   50      8   152.97       2
23           0   71      6    74.10       2
24           1   59      1   344.11       3
25           1   72      1   919.24       1
26           0   62      5   381.25       2
27           1   37      1   361.42       4
28           0   25      2   569.47       4
29           1   47      4   480.06       3
...        ...  ...    ...      ...     ...
9970         0   60      4   423.93       2
9971         0   82      2   459.68       2
9972         1   48      7   105.98       3
9973         0   76      5   389.83       2
9974         0   78      8   196.08       2
9975         0   75      5   222.77       2
9976         0   43      3   441.19       4
9977         1   20      7  1435.00       4
9978         0   28      3  2287.60       3
9979         1   48      4   512.16       3
9980         0   47      2   319.93       2
9981         0   78      3   398.69       2
9982         0   60      2  1210.90       4
9983         0   54      7   371.82       1
9984         1   51      3   890.04       4
9985         0   54      6   520.71       1
9986         0   36      2  2704.50       4
9987         0   27      4   536.96       1
9988         1   53      3  1649.20       4
9989         1   52      5   190.29       3
9990         1   42      6  1613.10       4
9991         0   41      7   275.35       2
9992         0   72      3    34.31       2
9993         0   67      6   315.44       2
9994         0   78      3    88.57       2
9995         0   57      4  1832.90       4
9996         1   33      5   171.69       4
9997         0   20      3   398.67       4
9998         0   71      6   426.14       2
9999         1   25      2  1437.60       1

[10000 rows x 5 columns]

In [46]:
data.describe()

           in.store           age        items        amount        region
count  10000.000000  10000.000000  10000.00000  10000.000000  10000.000000
mean       0.455500     45.956500      4.50390    835.000181      2.659700
std        0.498041     15.902261      2.06611    723.099002      1.128904
min        0.000000     18.000000      1.00000      5.230000      1.000000
25%        0.000000     33.000000      3.00000    276.752500      2.000000
50%        0.000000     45.000000      4.00000    570.665000      3.000000
75%        1.000000     57.000000      6.00000   1249.900000      4.000000
max        1.000000     85.000000      8.00000   2999.200000      4.000000